{% extends 'clientes/base.html' %}
{% load static%}

{% block title%}My Space Med{% endblock%}

{%block content%}
<h1>Bienvenida</h1>
<img src="{% static 'cobranza/img/med_spa.jpg'%}" alt="Hero" class="img-fluid">
<div class="mt-3">
    <h2>Quienes somos?</h2>
    <p>Somos una empresa con mas de 5 anos de experiencia en el giro, nos especializamos en tratamientos para la piel,
        especialmente en problemas
        con cicatrices de Acne, por lo cual contamos con muy buenos tratamientos para estas afecciones, nos encantaria
        que vinieras a conocernos y poder
        ayudar a tu bienestar y seguridad con estas afecciones tan comunes en nuestras pieles latinas, ven a conocernos!
    </p>
    <a href="{% url 'cobranza:servicios'%}" class=" btn-primary mt-3">Ver Nuestros Servicios</a>
</div>
{% endblock %}